@charset "utf-8";
/* CSS Document */


body {
  background-image: url("images/background.jpg");
	background-repeat: no-repeat;
  margin: 0 10%;
  font-family: 'Libre Baskerville', serif;
  text-align: center;
	margin-top: 2cm;
  }

h1 {
  text-align: center;
  font-family: serif;
  font-weight: normal;
  text-transform: uppercase;
  border-bottom: 1px solid white;
  margin-top: 30px;
	color: white;
}

h2 {
  color: white;
  font-size: 1em;
}
ul {
  list-style-type: none;
}
ol {
  list-style-type: none;
}

.boxed {
  border: 1px solid #11ECE9 ;
	background-color: whitesmoke;
	width: 50%;
	align-content: center;
	margin-left: auto;
margin-right: auto;
	
} 
a:link {
  color: #45F7A6;
}

a:visited {
  color: #45F7A6;
}

a:hover {
  color: red;
	background-color: #F138DF;
}

a:active {
  color: yellow;
}

div.gallery {
  margin: 5px;
  border: 1px solid #ccc;
  float: left;
  width: 220px;
	background-color: whitesmoke;
}

div.gallery:hover {
  border: 1px solid #777;
}

div.gallery img {
  width: 100%;
  height: auto;
}

div.desc {
  padding: 15px;
  text-align: center;
	background-color: whitesmoke;
}
#header{
	color: black;
}
.color{
	color:black;
}